@model IEnumerable<Soft_W_C.Models.Usuario>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_layout";
}

<div class="text-center">
    <h1 class="display-4">Bienvenida al empleadoooooooc</h1>

</div>
<main class="px-3">



</main>