@using Microsoft.AspNetCore.Identity
@using SoftWC.Models
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Empleado/_LayoutEmpleado.cshtml"; // RUTA CORRECTA
    string nombre = "Invitado";
    string apellido = "";
    string id = "";

    if (SignInManager.IsSignedIn(User))
    {
        var empleado = await UserManager.GetUserAsync(User); // usa await
        if (empleado != null)
        {
            id = empleado.Id;
            nombre = empleado.Nombre;
            apellido = empleado.Apellido;
        }
    }
}
<div class="text-center">
    <h1 class="display-4">Bienvenido @nombre @apellido</h1>
</div>

<main class="px-3">
    <div class="d-flex justify-content-center">
        <a asp-controller="Empleado" asp-action="Confirmacion" class="btn btn-success mx-2">Marcar Entrada</a>

        <button onclick="obtenerUbicacion()" class="btn btn-success mx-2">Marcar Entrada</button>

        <a asp-controller="Empleado" asp-action="MarcaSalida" class="btn btn-warning mx-2">Marcar Salida</a>

        <button onclick="obtenerUbicacion()" class="btn btn-success mx-2">Marcar Salida</button>

        <!-- <a asp-controller="Empleado" asp-action="MarcaAsistencia" class="btn btn-warning mx-2">Registro entrada con geolocalizacion </a>-->
    </div>
</main>

<script>

    function obtenerUbicacion() {
        console.log("Intentando obtener ubicación...");
        var empleadoId = "@id"; // Asegúrate de que el id del empleado esté disponible aquí
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function (position) {
                    const lat = position.coords.latitude;
                    const lon = position.coords.longitude;

                    alert("Tu ubicación es:\nLatitud: " + lat + "\nLongitud: " + lon);

                    // Enviar a backend si deseas
                    fetch('/Empleado/MarcarEntrada', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ Latitud: lat, Longitud: lon, EmpleadoId: empleadoId })
                    });
                },
                function (error) {
                    alert("No se pudo obtener ubicación: " + error.message);
                }
            );
        } else {
            alert("Geolocalización no soportada en este navegador.");
        }
    }
</script>
