@using Microsoft.AspNetCore.Identity
@using SoftWC.Models
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Empleado/_LayoutEmpleado.cshtml"; // RUTA CORRECTA
    string nombre = "Invitado";
    string apellido = "";
    string id = "";

    if (SignInManager.IsSignedIn(User))
    {
        var empleado = await UserManager.GetUserAsync(User); // usa await
        if (empleado != null)
        {
            id = empleado.Id;
            nombre = empleado.Nombre;
            apellido = empleado.Apellido;
        }
    }
}
<div class="text-center">
    <h1 class="display-4">Bienvenido @nombre @apellido</h1>
</div>

<div class="d-flex justify-content-center">

    <button data-tipo="entrada" onclick="obtenerUbicacion(event)" class="btn btn-success mx-2">Marcar Entrada</button>


    <button data-tipo="salida" onclick="obtenerUbicacion(event)" class="btn btn-success mx-2">Marcar Salida</button>

</div>
<script>
    function obtenerUbicacion(event) {
        const tipo = event.target.getAttribute('data-tipo');
        var empleadoId = "@id"; // Asegúrate de que el id del empleado esté disponible aquí
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function (position) {
                    const lat = position.coords.latitude;
                    const lon = position.coords.longitude;
                    // 'entrada' o 'salida'


                    // Enviar a backend si deseas
                    fetch('/Empleado/PostEntradasSalidas?tipo=' + tipo, {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ Latitud: lat, Longitud: lon, EmpleadoId: empleadoId })
                    }).then(res => res.json())
                        .then(data => {
                            if (data.showAlert) {
                                Swal.fire({
                                    title: data.title,
                                    text: data.text,
                                    icon: data.icon
                                });
                            } else if (data.redirectUrl) {
                                window.location.href = data.redirectUrl;
                            }
                        });
                },

            );
        } else {
            alert("Geolocalización no soportada en este navegador.");
        }
    }
</script>
