@{
    ViewData["Title"] = "Home Page";
    Layout = "_layout";
}

<div class="text-center my-5">
    <img src="https://firebasestorage.googleapis.com/v0/b/appweb2-44bcb.appspot.com/o/game%2FCaptura%20de%20pantalla%202025-05-01%20231422.png?alt=media&token=e47b4245-bcd5-48d0-861c-bbf0ca6305cc" 
         alt="Work and Cleaning Logo" class="img-fluid rounded shadow" style="max-height: 200px;" />
    <p class="lead text-secondary mt-4">Bienvenidos a nuestra página oficial</p>
</div>

<main class="container">
    <section class="text-center py-5 bg-light rounded shadow">
        <h2 class="fw-bold text-dark">MISIÓN Y VISIÓN</h2>
        <p class="mt-4 text-muted">
            Brindar soluciones empresariales y ambientales, aportando a nuestros clientes y a la sociedad herramientas que permitan sus compromisos ambientales de forma segura, eficaz y responsable, con un enfoque sostenible, ofreciendo la más alta calidad del servicio y reaprovechamiento de residuos, orientando nuestros procesos a mejorar la calidad de vida, medio ambiente y bienestar del entorno.
        </p>
        <p class="text-muted">
            Ser líder en soluciones empresariales, limpieza y gestión, manejo de residuos peligrosos y no peligrosos, aportando soluciones integrales, innovadoras.
        </p>
    </section>

    <section class="text-center py-5 mt-5" style="background-color: #D5D9FF; color: #333; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
        <h3 class="fw-bold">Conoce más sobre nosotros</h3>
        <p class="lead mt-3">Explora nuestras soluciones y servicios diseñados para ti.</p>
        <a href="#" class="btn btn-primary btn-lg mt-3">Mas informacion</a>
    </section>
</main>