@{
    ViewData["Title"] = "Home Page";
    Layout = "_layout";
}

<div class="text-center">
    <h1 class="display-4">Work and cleaning wazac</h1>
    
</div>
<main class="px-3">
    <h1>INFOOOO.</h1>
    <p class="lead">Imagenes vision misioon etc</p> 
    <p class="lead">
      <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
    </p>
</main>