@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Recuperar contraseña";
}

<div class="container d-flex justify-content-center align-items-center min-vh-100 bg-light">
    <div class="row shadow-lg rounded w-100 mx-2 p-5" style="max-width: 500px; background-color: white;">
        <h2 class="text-center fw-bold mb-4">@ViewData["Title"]</h2>
        <p class="text-center text-muted mb-4">Ingrese su DNI para recuperar su contraseña.</p>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
            <div class="form-floating mb-4">
                <input asp-for="Input.DNI" class="form-control form-control-lg" autocomplete="username" aria-required="true" placeholder="Ingrese su DNI" />
                <label asp-for="Input.DNI" class="form-label">DNI</label>
                <span asp-validation-for="Input.DNI" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-lg w-100">Recuperar contraseña</button>
        </form>
        <hr class="my-4" />
        <a asp-page="./Login" class="text-center text-decoration-none text-dark">
            <i class="bi bi-arrow-left"></i> Volver al inicio de sesión
        </a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
